.infobox {
  position: absolute;
  top: 64px; /* 제목바 높이 */
  left: 20%;
  width: 80%;
  height: calc(100vh - 60px);
  min-height: 100%;
  height: auto; /* 전체 화면 - 제목바 */
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #f9fafc;
  transition: all 0.3s ease;
}

.menu-bar.collapsed ~ .infobox {
  left: 60px;
  width: calc(100% - 60px);
}

/* 내부 콘텐츠는 완전 채우기 */
.infobox-inner {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}